body {
  font-family: $ff-primary;
  padding: 5.5rem 1rem 1rem;
  background-color: $clr-white-off;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: textfield; /* Chrome, Safari, newer versions of Opera */
}

.age-calc {
  background-color: $clr-white;
  padding: 1.5rem;
  border-radius: 1.5rem 1.5rem 5.5rem;
  color: $clr-black-off;
  &__main {
    line-height: 1.2;
    &__section {
      &__heading {
        // font-size: clamp(3.4rem, 2.27rem + 4.8vw, 6.5rem);
        font-size: 3rem;
        font-weight: $fw-800;
        font-style: $fs-italic;
        &__span {
          color: $clr-purple;
        }
      }
    }
  }
}

.form {
  padding-block: 1.5rem 4rem;

  &__fieldset {
    padding-block-end: 3.7rem;
    display: $display-flex;
    border: 0;
    gap: 1rem;
  }

  &__label {
    color: $clr-grey-smokey;
    text-transform: uppercase;
    font-weight: $fw-700;
    font-size: clamp(0.8rem, 0.73rem + 0.3vw, 1rem);
    letter-spacing: 2.5px;
  }

  &__input {
    padding: 0.75rem 0.9rem;
    inline-size: 100%;
    border-radius: 0.5rem;
    border: 1px solid $clr-white-off;
    font-weight: $fw-800;
    font-size: clamp(1.25rem, 0.976rem + 1.17vw, 2rem);
    &--container {
      gap: 0.2rem;
      display: $display-grid;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus-visible {
      border-color: $clr-purple;
    }
  }
}

.btn {
  &--calc {
    padding: 1.2rem;
    border-radius: 100%;
    border: 0;
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    translate: -50% -50%;
    background-color: $clr-purple;
    display: $display-flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 2rem;
    }
  }

  &--container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover {
    background-color: $clr-red;
    cursor: pointer;
  }
}

.horizontal-rule {
  flex: 2;
  border: 1px solid $clr-white-off;
}

.error {
  color: $clr-red;
  font-style: $fs-italic;
  font-weight: $fw-400;
}

@media (min-width: 376px) {
  body {
    display: $display-flex;
    justify-content: center;
    align-items: center;
  }

  .form {
    padding-block: 0;
    &__fieldset {
      padding-block-end: 0;
      inline-size: 75%;
      gap: 2rem;
    }

    &__input {
      padding: 1rem 1.5rem;
      &--container {
        gap: 0.5rem;
      }
    }
  }

  .btn {
    &--calc {
      position: static;
      translate: 0;
      width: 6rem;
      height: 6rem;

      & img {
        width: 100%;
      }
    }

    &--container {
      justify-content: center;
      align-items: center;
      position: static;
    }
  }

  .age-calc {
    inline-size: min(100%, 53.125rem);
    padding: 3.75rem 3.75rem 2.75rem;
    border-radius: 1.5rem 1.5rem 11rem;
    color: $clr-black-off;
    &__main {
      line-height: 1.1;
      //   &__section {
      //     &__heading {
      //       &__span {
      //         letter-spacing: 1rem;
      //       }
      //     }
      //   }
    }
  }
}

@media (min-width: 376px) and (max-width: 769px) {
  .form__fieldset {
    flex-wrap: wrap;
  }
}
