//FONTS

$ff-primary: "Poppins", sans-serif;
$fw-400: 400;
$fw-700: 700;
$fw-800: 800;
$fs-italic: italic;

$fs-100: 1rem;
$fs-200: 2rem;

//COLORS

$clr-purple: hsl(259, 100%, 65%);
$clr-red: hsl(0, 100%, 67%);

$clr-white: hsl(0, 0%, 100%);
$clr-white-off: hsl(0, 0%, 94%);

$clr-grey-light: hsl(0, 0%, 86%);
$clr-grey-smokey: hsl(0, 1%, 44%);

$clr-black-off: hsl(0, 0%, 8%);


// LAYOUT
$display-flex: flex;
$display-grid: grid;